/************* Start of Login Styles *************/

body {
	background: url('images/prione-bg.jpg') center top #D6D6D6;
	margin-top: 9%;
	font-family: 'Lato', sans-serif;
	margin: 0;
  	padding: 0;
}
body #wrap .login_logo {
	background: url("images/login-logo.png") no-repeat center top transparent;
    height: 52px;
    margin: 8% auto 35px;
    width: 36%;
}
body #wrap > .login_container {
	background: #fff;
    box-shadow: 0 0 7px #888;
    padding: 0;
    margin: auto;
    width: 36%;
}
body #wrap > .login_container .page-header {
	background: #464646;
    color: #fff;
    margin: 0;
    padding: 13px;
    text-align: center;
}
body #wrap > .login_container .page-header h1 {
	font-size: 18px;
    margin: 0;
    color: #dadada;
}
body #wrap > .login_container form {
	padding: 55px;
}
body #wrap > .login_container form .form-group {
	margin: 0 0 10px;
}
body #wrap > .login_container form .form-group input[type="text"], body #wrap > .login_container form .form-group input[type="password"] {
	border: 0 none;
    box-shadow: 0 0 4px #bbb;
    font-size: 16px;
    color: #666666;
}
body #wrap > .login_container form .form-group ::-webkit-input-placeholder {
   color: #b0b0b0;
}

body #wrap > .login_container form .form-group :-moz-placeholder { /* Firefox 18- */
   color: #b0b0b0;
}

body #wrap > .login_container form .form-group ::-moz-placeholder {  /* Firefox 19+ */
   color: #b0b0b0;
}

body #wrap > .login_container form .form-group :-ms-input-placeholder {
   color: #b0b0b0;
}
body #wrap > .login_container form .form-group .checkbox label {
	padding-left: 5px;
	color: #666666;
	font-size: 16px;
	line-height: 15px;
}
body #wrap > .login_container form .form-group .checkbox a {
	float: right;
	color: #666666;
	font-size: 16px;
	outline: none;
}
body #wrap > .login_container form .form-group .checkbox a:hover, body #wrap > .login_container form .form-group .checkbox a:focus, body #wrap > .login_container form .form-group .checkbox a:visited {
	color: #666666;
}
body #wrap > .login_container form .form-group .btn-primary {
	background: #DF8719;
	border: 0;
	border-radius: 4px;
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
    text-shadow: none;
    outline: none;
}

/************* End of Login Styles *************/

/************* Start of Dashboard Styles *************/

body #wrap > .navbar {
	background: #efefef;
    height: 55px;
    border-bottom: 0;
    padding: 0 30px;
    box-shadow: none;
    margin: 0;
    z-index: 1;
}
body #wrap .container {
	padding: 0;
}
body #wrap > .container {
	background: #FFF;
}
body #wrap > .navbar .navbar-nav .logo {
	background: url('images/logo.png') no-repeat center 16px;
	height: 54px;
    width: 110px;
}
body #wrap > .navbar .navbar-nav li a, body #wrap > .navbar .navbar-nav li span {
	color: #5a5a5a;
	text-shadow: none;
	font-size: 16px;
	outline: none;
}
body #wrap > .navbar .navbar-nav li a:hover, body #wrap > .navbar .navbar-nav li a:hover span, body #wrap > .navbar .navbar-nav li.active a, body #wrap > .navbar .navbar-nav li.active span {
	color: #de8719;
	background: transparent;
    box-shadow: none;
}
body #wrap > .navbar .navbar-nav li:last-child a {
	padding-right: 0;
	padding-left: 8px;
	display: inline;
	font-weight: 600;
}
.navbar-inverse .navbar-nav > .open > a, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus {
	background: transparent;
	color: #5a5a5a;
}
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .dropdown-menu > .active > a:hover {
	background: transparent;
	color: #de8719;
}
body #wrap .container .page-header {
	box-shadow: 0 0 3px #999;
	background: #e0e0e0;
	margin: 0;
	border: 0;
	padding: 5px 30px 10px;
	display: inline-block;
	width: 100%;
	border-color: #de8719;
    border-style: solid;
    border-width: 0 4px;
}
body #wrap .container .page-header > div:first-child {
	padding-left: 0;
}
body #wrap .container .page-header > div:last-child {
	padding-right: 0;
	text-align: right;
}
body #wrap .container .page-header .status-title {
	font-size: 16px;
	color: #211f20;
	font-weight: 600;
    letter-spacing: 0.2px;
}
body #wrap .container .page-header .status-count {
	font-size: 23px;
	color: #de8719;
	font-weight: 600;
}
body #wrap .container .ui-widget {
	font-family: 'Lato', sans-serif;
}
.container .ui-state-default, .container .ui-widget-content .ui-state-default, .container .ui-widget-header .ui-state-default {
    background: #464646 none repeat scroll 0 0;
    border: 1px solid #6b6b6b;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}
.container .ui-jqgrid.ui-widget.ui-widget-content{
	border-radius: 0;
	/* box-shadow: 0 0 3px #ccc; */
    margin: 15px 30px;
    width: 95.8% !important;
    overflow: hidden;
}
.container .ui-jqgrid .ui-jqgrid-htable th {
    height: 38px;
}
/* .container .ui-jqgrid .ui-jqgrid-bdiv {
	height: auto !important;
} */
.container .ui-widget-content:nth-child(even) {
	background: #FBFBFB;
}
.container .ui-widget-content:nth-child(odd) {
	background: #f6ede4;
}
.container .ui-widget-content {
	border: 0;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 0;
}
.container .ui-jqgrid tr.jqgrow td {
	color: #37474f;
    font-size: 12px;
    height: 52px;
    letter-spacing: 0.5px;
	border-color: #e6e6e6 #e6e6e6 #828282;
	border-bottom-style: dashed;
	text-transform: capitalize;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 0;
}
.navbar .container li.user > a, .navbar .container li.user > span {
	position: relative;
	top: 7px;
}
.navbar .container .user-img {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #e59b2e;
    height: 35px;
    padding: 3px 0 0;
    width: 35px;
    margin: 8px 8px 0 0;
}

/************* End of Dashboard Styles *************/

/************* Start of Popup Styles *************/

.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content {
    padding: 25px;
}
.ui-jqdialog-content form.FormGrid {
	overflow: hidden !important;
}
body .ui-widget-content.ui-jqdialog {
	border: 0 none;
    border-radius: 0;
    padding: 0;
}
.ui-jqdialog .ui-jqdialog-titlebar {
	background: #e09137;
    border: 0 none;
    border-radius: 0;
    padding: 9px 20px;
}
.ui-jqdialog .ui-jqdialog-title {
	color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
}
.ui-jqdialog .ui-jqdialog-titlebar-close .ui-icon-closethick {
	display: none;
}
.ui-jqdialog .DataTD {
	position: relative;
	width: 200px;
}
.FormElement {
  float:left;
}
.customelement{
  margin-top:10px;
  float:left;
}
.ui-jqdialog table tbody tr > div:nth-child(1), .ui-jqdialog table tbody tr > div:nth-child(3) {
  width: 100px;
  padding-top: 12px;
}
.ui-jqdialog table tbody tr > div:nth-child(5), .ui-jqdialog table tbody tr > div:nth-child(7), .ui-jqdialog table tbody tr > div:nth-child(9) {
	height: 0;
    position: relative;
    width: 0;
}
.ui-jqdialog table tbody tr > div:nth-child(5) > div, .ui-jqdialog table tbody tr > div:nth-child(7) > div, .ui-jqdialog table tbody tr > div:nth-child(9) > div {
	font-size: 11px;
	line-height: 12px;
	color: #6d6d6d;
	text-transform: capitalize;
	font-weight: normal;
	margin-bottom: 0;
	left: 10px;
    position: absolute;
    top: 0;
    width: 300px;
}
.ui-jqdialog .DataTD input[type="text"], .ui-jqdialog .DataTD select, .ui-jqdialog .DataTD textarea {
	border: 2px solid #e8e8e8;
    padding: 7px;
    color: #6d6d6d;
    width: 100%;
    margin-bottom: 12px;
    resize: none;
}
.ui-jqdialog-content.ui-widget-content table {
	float: left;
     width: 50%;
}
.ui-jqdialog-content.ui-widget-content .EditTable tr {
	margin-bottom: 5px;
}
.ui-jqdialog-content.ui-widget-content .EditTable tr td hr {
	display: none;
}
.ui-jqdialog-content.ui-widget-content .EditTable .fm-button {
    background: #e09137;
    border: 0 none;
    color: #fff;
    font: bold 16px/18px 'Lato', sans-serif;
    letter-spacing: 0.4px;
    padding: 7px 12px;
}
.ui-jqdialog-content.ui-widget-content .EditTable .fm-button .ui-icon {
	display: none;
}
.ui-jqdialog .DataTD.dropdown-parent::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #8f8f8f;
    content: "▼";
    font-size: 10px;
    line-height: 10px;
    padding: 10px 6px 11px;
    pointer-events: none;
    position: absolute;
    right: 4px;
    bottom: 16px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.ui-jqdialog .DataTD.dropdown-parent::after {
		padding: 8px 6px 11px;
	}
}
.FormElement {
  float:left;
}
.customelement{
  margin-top:10px;
  float:left;
}
.ui-jqdialog-content #Act_Buttons {
	margin-top: 5px;
}
.ui-jqdialog-content #Act_Buttons td.navButton {
	display: none;
}
.ui-jqdialog-content #Act_Buttons td.EditButton {
	text-align: left;
	padding-left: 10px;
}*/

/************* End of Popup Styles *************/
.popover{
	color:#000;
	width:500px;
	height:300px;
}
.popover td {
  word-break: break-all;
}
.popover-content {
	position: relative;
}
.popover-content .popovercloseid {
	position: absolute;
	right: 4px;
	top: 0;
}
.popover-content .popovercloseid:hover {
	color: red;
}
.popover-content .cmt-block .cmt-timestamp {
	color: #dd8f2c;
	padding-left: 8px;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.popover-content .cmt-block .cmt-name {
	color: #dd8f2c;
	padding: 0 8px 0 15px;
	border-right: 1px solid #dd8f2c;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
	background: url("images/comments.png") no-repeat left top;
}
.popover-content .cmt-block .comment {
	font-size: 13px;
	line-height: 13px;
	color: #464646;
	padding-left: 15px;
}

/************* End of Popup Styles *************/

.ui-jqgrid-btable tr select {
	border: 2px solid #e8e8e8;
    padding: 4px;
    color: #6d6d6d;
    width: 100%;
    resize: none;
}
.ui-jqgrid-btable tr .dropdown-parent {
	position: relative;
	padding: 0 8px !important;
}
.ui-jqgrid-btable tr .dropdown-parent::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    color: #8f8f8f;
    content: "▼";
    font-size: 10px;
    line-height: 10px;
    padding: 8px 4px 7px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    bottom: 13px;
}
